<?xml version="1.0"?>
<launch>
    <!--Traffic Light tf model -->
    <param name="traffic_light_model" value="$(find tl_detector)/carla_model.pb" />

    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node"/>
    <node pkg="tl_detector" type="light_publisher.py" name="light_publisher" output="screen" cwd="node"/>
</launch>
